<div class="main-wrapper support-wrapper container-fluid" *ngIf="page">
    <section class="banner-wrapper row" [style.background-image]="'url(' + page.acf.support_banner_image + ')'" style="background-size: cover; background-repeat: no-repeat;">
        <div class="banner-content">
            <h2 [innerHTML]='page.acf.support_banner_title'></h2>
        </div>
    </section>
    <section class="container support-content-wrapper">
        <div class="row">
            <div class="col-sm-7 form-wrapper">
                <h2 [innerHTML]='page.acf.support_main_content_title'></h2>
                <div [innerHTML]='page.acf.support_main_content'></div>
                <h3 [innerHTML]='page.acf.support_form_title'></h3>

                <form class="support-form">
                            <input type="hidden" name="formname" value="Support Form" />
                            
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="firstName" class="sr-only">First Name</label>
                            <input  name="firstName"  type="text" class="form-control" id="firstName" placeholder="First Name*">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="lastName" class="sr-only">Last Name</label>
                            <input  name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="emailAddress" class="sr-only">Email Address</label>
                            <input name="emailAddress" type="email" class="form-control" id="emailAddress" placeholder="Email Address*">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="phoneNumber" class="sr-only">Phone Number</label>
                            <input  name="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number*">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <textarea name="message" class="form-control" rows="3" placeholder="Message..."></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                                <div class="g-recaptcha" [attr.data-sitekey]="grc_key"></div>
                                <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
                            </div>
                        <div class="form-group col-lg-6 text-right">
                            <input  class="supportSubmit"  type="submit" value="Submit" />
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-sm-4 col-sm-offset-1 ad-wrapper">
                <div class="customer-care">
                    <h3 [innerHTML]='page.acf.support_custome_care_title'>Customer Care Hours</h3>
                    <table>
                        <tr *ngFor="let c of page.acf.detail">
                            <td [innerHTML]='c.title'></td>
                            <td [innerHTML]='c.description'>T</td>
                        </tr>
                    </table>
                </div>
                <div class="ad-content" [style.background-image]="'url(' + page.acf.support_adds_background_image + ')'" style="background: no-repeat center; background-size: cover;">
                    <h3 [innerHTML]='page.acf.support_adds_title'></h3>
                    <a href="/user-guides" [innerHTML]='page.acf.support_adds_button_text'></a>
                </div>
            </div>
        </div>

    </section>
</div>