<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!--features section-->
<section class="features-wrapper">
    <div class="container text-center">
        <h2>More features</h2>

        <div class="row article-wrapper">


            <div class="col-xs-12 col-md-4">
                <article>
                    <img src="./../../assets/images/phone.png" alt="">
                    <h3>Free Phone &amp; Captioning</h3>
                    <p>Captions are provided free-of-charge to people with hearing loss</p>
                    <a href="#">For more info click here</a>
                </article>
            </div>


            <div class="col-xs-12 col-md-4">
                <article>
                    <img src="./../../assets/images/installation.png" alt="">
                    <h3>Free Installation</h3>
                    <p>A ClearCaptions specialist will come to your home to install your phone and train you on how to use it.</p>
                </article>
            </div>

            <div class="col-xs-12 col-md-4">
                <article>
                    <img src="./../../assets/images/ongoing_support.png" alt="">
                    <h3>Free Ongoing Support</h3>
                    <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </article>
            </div>

            <!--article wrapper-->
        </div>
        <!--row-->
        <button type="button" class="btn primaryButton">Sign up today</button>
    </div>
</section>