<div class="main-wrapper user-guides-wrapper container-fluid">
    <section *ngIf="page" class="banner-wrapper row" [style.background-image]="'url(' + page.better_featured_image.media_details.sizes.large.source_url + ')'" style="background-size: cover; background-repeat: no-repeat;">
        <div class="banner-content">
            <h2 [innerHTML]='page.title.rendered'></h2>
        </div>
    </section>
    <section *ngIf="userguides" class="container items-wrapper">
        <div class="row">
            <div class="col-sm-12 user-guide" *ngFor="let b of userguides">
                <div class="row">
                    <div class="col-md-3 col-sm-4 user-guide-photo" [style.background-image]="'url(' + b.acf.brochures_placeholder_image + ')'" style="background: no-repeat center; background-size: cover;">
                    </div>
                    <div class="col-md-9 col-sm-8 user-guide-details">
                        <h3 [innerHTML]='b.title.rendered'></h3>
                        <div [innerHTML]='b.content.rendered'></div>
                        <a href="{{b.acf.brochures_button_url}}">
                            <div class="download-btn" [innerHTML]='b.acf.brochures_button_text'></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>