<section class="sub-nav row hidden-xs">
    <ul>
        <li routerLinkActive="item-selected"><a routerLink="/about-us">About Us</a></li>
        <li routerLinkActive="item-selected"><a routerLink="/news">News</a></li>
        <li routerLinkActive="item-selected"><a routerLink="/press-releases">Press Releases</a></li>
        <li routerLinkActive="item-selected"><a routerLink="/find-local-event">Find us at a local event</a></li>
        <li routerLinkActive="item-selected"><a routerLink="/leadership-team">Leadership Team</a></li>
        <li routerLinkActive="item-selected"><a routerLink="/careers">Careers</a></li>
        <li routerLinkActive="item-selected"><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
</section>