<div class="main-wrapper 404-us-wrapper container-fluid">
    <section class="banner-wrapper row" style="background: url(assets/images/temp/404-banner-bg.jpg) no-repeat center; background-size: cover;">
        <div class="banner-content">
            <h1>No post found!</h1>
<h2 class="subheading">Sorry!!!!</h2>
<p>Please Try Again. </p>
        </div>
    </section>

<!-- Post Content -->
<section class="intro-wrapper container">
        <div class="row">

      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
      </div>
    </div>
</section>