<div *ngIf="page" class="main-wrapper container-fluid privacy-wrapper">

    <section class="banner-wrapper row" [style.background-image]="'url(' + page.acf.privacy_banner_image + ')'" style="background-size: cover; background-repeat: no-repeat;">
        <div class="banner-content">
            <h2 [innerHTML]='page.acf.privacy_banner_title'></h2>
        </div>
    </section>

    <app-sub-nav-terms-conditions></app-sub-nav-terms-conditions>

    <section class="container">
        <div class="row">
            <div class="col-sm-12 content-wrapper" [innerHTML]='page.acf.privacy_content'></div>
        </div>
    </section>

</div>