<div class="main-wrapper find-us-wrapper container-fluid" *ngIf="page">
    <section class="banner-wrapper row" [style.background-image]="'url(' + page.acf.find_us_banner_image + ')'" style="background-size: cover; background-repeat: no-repeat;">
        <div class="banner-content">
            <h2 [innerHTML]='page.acf.find_us_banner_title'></h2>
            <div [innerHTML]='page.acf.find_us_banner_content'></div>
        </div>
    </section>
    <app-sub-nav></app-sub-nav>
    <section class="container find-us-full-wrapper">

        <div class="row top-content">
            <h2 [innerHTML]='page.acf.find_us_main_content_title'></h2>
            <div [innerHTML]='page.acf.find_us_main_content'></div>
        </div>


        <div class="row map-row">
            <div class="col-xs-12">
                <div class="row form-wrapper">
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">

                        <input type="text" id="address" class="form-control" value="" placeholder="Enter Zip, City,State or Country">

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 pull-right">

                        <div class="row buttons-wrapper">
                            <button type="submit" onclick="resetAddress(); return false;" class="ret-button cc-btn" [innerHTML]='page.acf.find_us_main_content_button_1_text'></button>

                            <button type="submit" onclick="searchAddress(); return false;" class="find-btn cc-btn" [innerHTML]='page.acf.find_us_main_content_button_2_text'></button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="row event-detail-row" id="location">
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <div id="map" style="width :100%; height : 700px;"></div>
                    <!--<div id="map" class="map-wrapper"></div>-->
                </div>
            </div>

        </div>
    </section>
</div>