<div class="main-wrapper default-details-page container-fluid">
  <section class="banner-wrapper row"
           style="background-image: linear-gradient(180deg, #002756 0%, #001738 100%);">
    <div class="banner-content">
      <h3>Meet The Clarity Ensemble, The Phone That Closed-Captions Your Conversation In Real Time</h3>
      <h5>6th September 2016</h5>
    </div>
  </section>
  <section class="back-action-wrapper row">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a href="/press-releases">
            <img src="assets/images/arrow-left.svg" alt=""/>Go Back to Press Releases
          </a>
        </div>
        <div class="col-sm-6">
          <a href="facebook.com"><img src="assets/images/share-fb.png" alt=""/></a>
          <a href="twitter.com"><img src="assets/images/share-twitter.png" alt=""/></a>
        </div>
      </div>
    </div>
  </section>
  <section class="content-wrapper container">
    <p>Conversations displayed on Ensemble’s intuitive touchscreen make phone calls more accurate, understandable and
      enjoyable for people with hearing loss</p>
    <p>CHATTANOOGA, TN – February 18, 2015 – One out of every three people age 65 or older suffers from hearing loss,
      according to the Hearing Loss Association of America. For these individuals, the nearly 48 million Americans with
      hearing loss, an innovative new captioning telephone was unveiled today that ensures phones conversations are
      clearly understood and once again enjoyable. Clarity—a division of Plantronics (NYSE: PLT)—and ClearCaptions
      launched the second generation of Ensemble, a captioning phone that displays text of conversations in near-real
      time on a large color touchscreen while also amplifying voice so users can see and hear what callers are
      saying.</p>
    <p>“If you have hearing loss, phone conversations can be frustrating and have a large impact on feelings of
      isolation and disengagement,” said Carsten Trads, president of Clarity. “We’ve teamed up with ClearCaptions to
      create a sophisticated home phone using the latest in tablet technology, captioning and amplification to make
      conversations more accurate, understandable and ultimately enjoyable for millions of people across the U.S. For
      these individuals, this is really much more than a phone—it is a lifeline connecting them with the world.”</p>
    <h3>How ClearCaptions works</h3>
    <p>When an individual places or receives a call on Ensemble, the other party’s words are transcribed through
      ClearCaptions, a Federal Communications Commission (FCC)-certified telephone-captioning service that is similar to
      closed captions for television. As the user listens, the conversation automatically appears on Ensemble’s
      touchscreen display in a large, easy-to-read font. There is no fee for using the ClearCaptions service.</p>
    <p>Through Ensemble’s Call Log, users can go back to previous conversations to review what was said—a helpful
      feature to ensure details, such as addresses, phone numbers or doctor instructions, are not missed. Additionally,
      Ensemble’s loud and clear speakerphone allows for hands-free conversations where individuals can use both ears to
      hear the caller while also reading the captions. “If you have hearing loss, captioning is vital to normal life,”
      said Bob Rae, CEO and president of ClearCaptions. “Whether it’s a conversation with a doctor or a call with a
      financial advisor, ClearCaptions on the Ensemble makes it absolutely certain that you hear and understand the
      conversation correctly. In the end, that not only means you can understand the medication instructions from your
      doctor, but you can hear about your grandchild’s day, listen to loved ones wish you happy birthday or simply enjoy
      a chat with an old friend.”</p>
    <h3>About Clarity – Smart for Seniors™</h3>
    <p>Clarity, a division of Plantronics (NYSE: PLT), creates smart communication solutions that help seniors live
      richer, more engaged lives. For more than 40 years, Clarity’s innovative products—such as amplified telephones,
      notification systems and assistive listening devices—have helped people with hearing loss, low vision, limited
      mobility, dexterity issues and other health challenges. Clarity has pioneered many firsts—from digital sound
      processing in 2005 to remote-access customer service in 2010. Millions rely on Clarity to communicate at home, at
      work and throughout their lives. </p>
    <p><strong>For more information</strong>, please visit <a href="#">www.clarityproducts.com</a> or call <a
        href="tel:1-800-426-3738">1-800-426-3738</a>.</p>
    <h3>About Clarity – Smart for Seniors™</h3>
    <p>ClearCaptions helps millions of people with hearing loss across the U.S. stay connected with the outside world.
      ClearCaptions is a Federal Communications Commission (FCC)-certified telephone captioning provider that was
      founded in 1997. ClearCaptions provides an innovative suite of captioning services through a variety of platforms,
      including personal computers, mobile devices and home phones. For more information on ClearCaptions, visit
      www.clearcaptions.com.</p>
    <p>
      <strong>Contact:</strong> <br/>
      Ryan Witherell <br/>
      615.500.2733 <br/>
      <a href="mailto:rwitherell@seigenthaler.com">rwitherell@seigenthaler.com</a></p>
  </section>
</div>